<!DOCTYPE HTML>
<html>
<head>
    <title>Home (Дома)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="surname" placeholder="surname">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Add</button>
    </form>
</div>
<form method="post" action="filter">
    <input type="text" name="filter" placeholder="name">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <button type="submit">Search</button>
</form>
<div>List</div>
{{#users}}
    <div>
        <i>{{id}}</i>
        <b>{{name}}</b>
        <b>{{surname}}</b>
    </div>
{{/users}}

<a href="/reg">Create bank account</a>
</body>
</html>