<!DOCTYPE html>
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--<div th:if="${param.error}">-->
<!--    Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.-->
<!--</div>-->
Add New bank account
<p>{{#account}}
    {{account}}
{{/account}}</p>
<form action="/reg" method="post">
    <div><label> User Name: <input type="text" name="name"/> </label></div>
    <div><label> Pin: <input type="password" name="pin"/> </label></div>
    <div><input type="submit" value="Registration"/></div>
</form>
</body>
</html>