<!DOCTYPE html>
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--<div th:if="${param.error}">-->
<!--    Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.-->
<!--</div>-->
Add New bank account
<p>{{#accounts}}
    <div>
        {{name}}
        {{surname}}
    </div>
{{/accounts}}</p>
<form method="post" action="reg">
    <div><label> User Name: <input type="text" name="surname"/> </label></div>
    <div><label> Pin: <input type="password" maxlength=4 name="pin"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div><button type="submit">Registration</button></div>
</form>
</body>
</html>