<!DOCTYPE HTML>
<html>
<head>
    <title>Home (Дома)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
{{#transaction}}
    <div>
    {{id}}
    {{histoty}}
    {{userId}}
    </div>
{{/transaction}}
<input type="text" name="transaction" placeholder="transaction">
<input type="text" name="name" placeholder="name">
<button type="submit">Create transaction</button>
</body>
</html>