<!DOCTYPE HTML>
<html>
<head>
    <title>Home (Дома)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 <div>User not exist, check user name</div>
 <a href="/">Back to main</a>
</body>
</html>