<!DOCTYPE HTML>
<html>
<head>
    <title>User Not Exist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 <div>User not exist, check user name</div>
 <a href="/reg">Back to registration</a>
</body>
</html>